body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {

    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

}

.gap-5xs {
    gap: 1px;
}

.inicio-sesion {
    list-style: none;
    display: flex;
    background-color: white;
    background-position: center;
    text-align: center;
    background-size: cover;
    font-weight: 700;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.navegator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    list-style: none;
}

.img {
    display: block;
}

.img--logo {
    width: 80px;
    height: 50px;
}

.link {
    padding: 4px 14px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 16px;
}

.link:hover,
.link--active {
    background-color: #d62852;
    color: white;
}

.navlink {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navlink>li {
    display: inline-block;
    position: relative;
}

.navlink>li>ul {
    display: none;
    list-style: none;
    position: absolute;
    min-width: 140px;
    top: 100%;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    background-color: white;
    border: solid;
    border-radius: 8px;
    padding-block: 4px;
}

.navlink>li:hover>ul {
    display: block;
}

.navlink li ul li {
    margin-top: 4px;
}

main section h2 {
    color: #ff3366;

}

.textos {
    background-color: white;
    background-position: center;
    text-align: center;
    background-size: cover;
    font-weight: 700;
}

.banner {
    margin-top: 2%;
    z-index: 0;
    background-image: url('../img/background3.jpg');
    width: 1232;
    height: 768;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 300px 0 20px 0;
}

.banner .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff3366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.banner .btn:hover {
    background-color: #d62852;
}

.productos {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.producto {
    margin: 10px;
    flex: 0 0 calc(33.333% - 20px);
    justify-content: center;
    text-align: center;
}

.producto img {
    max-width: 90%;
    border-radius: 16px;
}

footer {
    background-color: white;
    padding: 20px 0;
    bottom: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: inherit;
    margin-left: 10px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    margin-inline: auto;
    border-radius: 16px;
    box-shadow: 0 0 4px 0 black;
    background-color: white;
    overflow: hidden;

    & img {
        width: 100%;
    }

    & h3 {
        font-size: 24px;
    }

    & h4 {
        font-size: 18px;
    }

}

.modal_text {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.agregar-carrito {
    margin: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.button_style {
    background-color: #ff3366;
    color: white;
    border-radius: 16px;
    width: 70%;
}


.submenu {

    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(100px);
    top: 100%;
    z-index: 1;
    background-color: #f3c0ba76;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: #ffffff;
}

.borrar {
    background-color:  #ff3366;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}

.btn-2 {
    display: inline-block;
    padding-left: 7px 10px;
    background-color:  #ff3366;
    color: #ffffff;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    width: 50%;
    text-align: center;
    &:hover{
        background-color: #d62852;
    }
}
.carrito{
    color: inherit;
}

/* para telefono */
@media (max-width: 768px) {
    .navlink {
        justify-content: center;
    }

    .navegator {
        padding: 0 0px;
    }

    .header {
        position: fixed;
    }

    .banner {
        width: 100%;
        height: auto;
        padding: 50px 0 20px 0;
    }

    .inicio-sesion {
        list-style: none;
        display: flex;
        background-color: white;
        background-position: center;
        text-align: center;
        background-size: cover;
        font-weight: 700;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .producto {
        flex: 0 0 calc(50% - 20px);
    }

    .gap-5xs {
        gap: 0;
    }
}